* {
    overflow-x: hidden;
}

body {
    margin: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
}

@font-face {
    font-family: Zing;
    src: url(../fonts/Zing.otf);
}

@font-face {
    font-family: ZingBG;
    src: url(../fonts/ZingBG.otf);
}

.home, #home a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url('../assets/profile bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-attachment: fixed; /* Set background image to fixed */
}

.home img {
    width: 30px;
}

.main {
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .boxes {
    width: 100%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.main .boxes .container {
    position: relative;
    height: 400px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#slide1 {
    background-color: red;
    padding: 10%;
}

#slide2 {
    background-color: blue;
    padding: 10%;
}

#slide3 {
    background-color: green;
    padding: 10%;
}

#slide4 {
    background-color: orange;
    padding: 10%;
}

#footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    font-family: Arial, sans-serif;
}

#footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#footer-about,
#footer-links,
#footer-follow,
#footer-contact {
    flex: 1;
    min-width: 250px;
    margin: 20px;
}

#footer-about h2,
#footer-links h2,
#footer-follow h2,
#footer-contact h2 {
    font-size: 18px;
    margin-bottom: 20px;
    color: #ffcc00;
}

#footer-about p,
#footer-links ul,
#footer-links a,
#footer-contact p {
    color: #ccc;
    font-size: 14px;
    line-height: 1.6;
}

#footer-links ul {
    list-style: none;
    padding: 0;
}

#footer-links ul li {
    margin-bottom: 10px;
}

#footer-links ul li a {
    text-decoration: none;
    color: #ccc;
    transition: color 0.3s;
}

#footer-links ul li a:hover {
    color: #fff;
}

#footer-social-links a {
    display: inline-block;
    margin-right: 10px;
    color: #ccc;
    font-size: 20px;
    transition: color 0.3s;
}

#footer-social-links a:hover {
    color: #ffcc00;
}

#footer-bottom {
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid #444;
    margin-top: 40px;
}

#footer-bottom p {
    margin: 0;
    color: #ccc;
}

html {
    scroll-behavior: smooth;
}